doctype html
html
  head
    title Saurabh dance academy
    block scripts
    block style
      script(src='/jquery.js')
  body
    block content
    block foot
    footer#footer
        | Copyright © 2019 HarryAcademy.com | All Rights Reserved  